<div class="card text-center" style="width: 50rem;">
  <div class="card-header ">
    Contact us
  </div>
  <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">Email address</label>
      <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
    </div>
    <div class="mb-3">
      <label for="exampleFormControlTextarea1" class="form-label">Query
      </label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
      <button type="button" class="btn btn-success">Submit</button>
    </div>
    
  <div class="card-footer text-muted">
    
  </div>
</div>
