<div class="register">
    <div class="container">
      <div class="row">
        <div class="col-md-8 m-auto">
          <h3 class="sign">Register</h3>
          <form
            name="form"
            (ngSubmit)="f.form.valid && registerSubmit()"
            #f="ngForm"
            novalidate
          >
            <div class="form-group">
              <label>Name</label>
              <input
                type="text"
                name="name"
                class="form-control"
                [(ngModel)]="register.name"
                #name="ngModel"
                [ngClass]="{ 'is-invalid': f.submitted && name.invalid }"
                required
              />
              <div
                *ngIf="f.submitted && name.invalid"
                class="d-block invalid-feedback"
              >
                <div *ngIf="name.errors?.required">Name is required</div>
              </div>
            </div>
  
            <div class="form-group">
              <label>Email</label>
              <input
                type="text"
                name="email"
                class="form-control"
                [(ngModel)]="register.email"
                #email="ngModel"
                [ngClass]="{ 'is-invalid': f.submitted && email.invalid }"
                required
                email
              />
              <div
                *ngIf="f.submitted && email.invalid"
                class="d-block invalid-feedback"
              >
                <div *ngIf="email.errors?.required">Email is required</div>
                <div *ngIf="email.errors?.email">
                  Enter a valid email address. e.g. john@example.com
                </div>
              </div>
            </div>
            <div class="form-group">
              <label>Password</label>
              <input
                type="password"
                name="password"
                class="form-control"
                [(ngModel)]="register.password"
                #password="ngModel"
                [ngClass]="{ 'is-invalid': f.submitted && password.invalid }"
                required
                minlength="6"
              />
              <div
                *ngIf="f.submitted && password.invalid"
                class="invalid-feedback"
              >
                <div *ngIf="password.errors?.required">Password is required</div>
                <div *ngIf="password.errors?.minlength">
                  Password must be at least 6 characters
                </div>
              </div>
            </div>
            <div class="form-group">
              <label>Confirm Password</label>
              <input
                type="password2"
                name="password2"
                class="form-control"
                [(ngModel)]="register.password2"
                #password2="ngModel"
                [ngClass]="{ 'is-invalid': f.submitted && password2.invalid }"
                required
                minlength="6"
              />
              <div
                *ngIf="f.submitted && password2.invalid"
                class="invalid-feedback"
              >
                <div *ngIf="password2.errors?.required">Password is required</div>
                <div *ngIf="password2.errors?.minlength">
                  Password must be at least 6 characters
                </div>
              </div>
            </div>
            <div class="text-center">
              <button class="submitButton">Register</button>
              <button
                class="submitButton"
                (click)="f.reset({}); submitted = false"
              >
                Reset
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  