

  <div class="container">
    <div class="row">
      <div class="col-sm">
        <div class="card text-dark bg-light mb-3" style="max-width: 18rem;">
          <div class="card-header">Contact</div>
          <div class="card-body">
            <p class="card-text">Phone number: (345)-987-876</p>
            <p class="card-text">Email: MediaApp@Gmail.com</p>
            <p class="card-text">Address: 123 Main Street</p>
          </div>
        </div>
      </div>
      <div class="col-sm">
        <div class="card text-dark bg-light mb-3" style="max-width: 18rem;">
          <div class="card-header">Suggetions</div>
          <div class="card-body">
            <p class="card-text">We welcome any and all Suggetions, so leave us a email and we will consider it for a future update.</p>
        
          </div>
        </div>
      </div>
      <div class="col-sm">
       
        <app-chat></app-chat>
     
      </div>
    </div>
    
  </div>
  <p class="card-footer" >Copyrights 2020, All Rights Reserved</p>
  