<div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Current Weather</h5>
          <p class="card-text">Current Condition: {{weatherType}}</p>
          <p class="card-text">Current Temp: {{temp | number}}</p>
          <p class="card-text">Current humidity: {{humidity}}</p>
          
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
            <h5 class="card-title">Tommrow Forcast</h5>
            <p class="card-text">Condition: {{tmrType}}</p>
            <p class="card-text">Temp High: {{tmrTempHigh | number}}</p>
            <p class="card-text">Temp Low: {{tmrTempLow | number}}</p>
            <p class="card-text">Humidity: {{tmrHumidity}}</p>
        </div>
      </div>
    </div>
  </div>