<div class="card">
    <div class="card-body">
        <h3 class="display-4 text-center">Sports News</h3>
     
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
    <img src="https://i.pinimg.com/originals/59/88/3a/59883abced4a35d74a49a32c72066584.jpg" class="card-img-bottom" alt="..." style="height: 450px;">
  </div>


  <div class="card mb-3" style="width: auto;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="https://sportshub.cbsistatic.com/i/r/2021/01/22/6b627846-b158-4b00-abb7-bbdf1d614270/thumbnail/770x433/ffd9670811a078cce15e010676a1029b/poirier-mcgregor.jpg" alt="image" style="height: 180px; width: 200px">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Conor McGregor vs. Dustin Poirier trilogy bout set to headline UFC 264 on July 10.</h5>
          <p class="card-text"> Dustin Poirier scored the biggest win of his career at UFC 257 in January, knocking out Conor McGregor in the second round of their clash on Fight Island in Abu Dhabi.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
    </div>
  </div>


  <div class="card mb-3" style="width: auto;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="https://sm.imgix.net/21/01/mnumnc.JPG?w=640&h=480&auto=compress,format&fit=clip" alt="image" style= "height: 180px; width: 200px;">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">A closer look at Manchester City's route to the EFL Cup final</h5>
          <p class="card-text">Holders Manchester City face Tottenham in the Carabao Cup final on Sunday bidding for a fourth-successive triumph in the competition and a sixth in eight years.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
    </div>
  </div>


  <div class="card mb-3" style="width: auto;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="https://sportshub.cbsistatic.com/i/r/2021/01/05/121c30ef-54cf-417f-a9d0-2de4d8aee4c6/thumbnail/770x433/dcc6d950a7a7ff6a2ff29a0ab176d616/luka-doncic-mavericks.jpg" alt="image" style="height: 180px;" width="200px">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Best bets as Mavericks vs. Nuggets and Timberwolves vs. Blazers headline NBA slate</h5>
          <p class="card-text">Dearest reader, we have a major baseball trade to talk about. After years of speculating where Cleveland would one day trade shortstop Francisco Lindor, we finally have an answer.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-sm">
        <div class="card" style="width: 18rem;">
            <img src="https://sportshub.cbsistatic.com/i/r/2021/04/19/1cc46730-a1d5-45a0-ad49-cdc338875be3/thumbnail/770x433/bea9400d8feb559c70743830e3651c38/7round.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">We're down the home stretch, folks -- the actual draft is just over a week away. This is our first (and, mercifully, last) seven-round mock draft of the year but fear not, we'll have two more mock drafts in the days leading up to April 29.</p>
            </div>
          </div>
      </div>
      <div class="col-sm">
        <div class="card" style="width: 18rem;">
            <img src="https://sportshub.cbsistatic.com/i/r/2021/01/26/c1a6e2f7-2ce0-4e09-a30b-e18a995eefa2/thumbnail/770x433/b7e494560ef283fb49ac9b0d148440be/trey-lance.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">We're closing in on the 2021 NFL Draft, which officially kicks off on April 29. As we await Roger Goodell stepping onto the podium and putting the Jacksonville Jaguars on the clock with that No. 1 overall pick, why not take a stab at what may be in store for us? The powers that be here at CBS Sports asked for a mock draft from yours truly and -- being the company man I am -- I delivered. </p>
            </div>
          </div>
      </div>
      <div class="col-sm">
        <div class="card" style="width: 18rem;">
            <img src="https://resize.indiatvnews.com/en/resize/newbucket/715_-/2021/04/match-13-1-1618915726.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">Delhi Capitals trail 12-16 in the head-to-head tie against Mumbai Indians in all IPL encounters. The difference of four was inflicted by Mumbai last season, winning all their encounters against the Capitals including the summit clash that helped them lift their fifth IPL trophy. Delhi and Mumbai have both won two of their three games in Chennai, but the defending champions have adopted themselves better in the conditions, even with a misfiring middle-order. </p>
            </div>
          </div>
      </div>
    </div>
  </div>


